Source: ganeti-extstorage-dataontap
Section: python
Priority: optional
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: python-all (>=2.5), python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/grnet/ganeti-extstorage-dataontap
Vcs-Git: https://github.com/grnet/ganeti-extstorage-dataontap

Package: ganeti-extstorage-dataontap
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Enhances: ganeti
Description: Ganeti ExtStorage provider for NetApp'a Data ONTAP
